/*CSS BOX MODEL CSS FILE*/
body{
  height: 100vh
  width: 100vw
}

div{
  height: 50px;
  width: 50px;
  background-color grey;
}

  #box{height: auto:
      padding: 10px;
      background-color: blue;
  }

.roundedRect{
  border-radius: 5px;
}
.bckBlue{
  background -color: blue;
}

.bckRed{
  background-color:red;
}
.slimborder{
  border: solid 3px black;
}

.boxSizing{
  box-sizing: border-box;
}
