/* *** MASTER CSS FILE *** */

#titleHeader{text-align: center;
text-transform: uppercase;
font-size:96px}

span{
font-weight: bold;
font-style: italic;
text-decoration: underline; }

body{ background-color: orange;}
h1{ text-align: center;}

h2{
  font-family: sans-serif;
  color: green;
  font-size: 90px;
}
